@import 'bytemd/dist/index.css';
@import 'juejin-markdown-themes/dist/juejin.css';
// @import 'highlight.js/styles/default.css';
@import 'highlight.js/styles/atom-one-dark.css';
// @import 'highlight.js/styles/a11y-dark.css';

.bytemd {
  height: calc(100vh - 40px);
  border: 0;
  overflow: hidden;
}