@import 'bytemd/dist/index.css';
@import 'juejin-markdown-themes/dist/juejin.css';
// @import 'highlight.js/styles/default.css';
@import 'highlight.js/styles/atom-one-dark.css';
// @import 'highlight.js/styles/a11y-dark.css';

.bytemd {
  height: calc(100vh - 40px);
  border: 0;
  overflow: hidden;
}

.markdown-body {
  width: 100%;

  ol,
  ul {
    counter-reset: custom-counter; // 重置计数器

    li {
      counter-increment: custom-counter; // 增加计数器

      &::marker {
        content: counter(custom-counter) '. '; // 显示计数器的值
        color: inherit;
        unicode-bidi: isolate;
        font-variant-numeric: tabular-nums;
        text-transform: none;
        text-indent: 0px !important;
        text-align: start !important;
        text-align-last: start !important;
      }
    }
  }
}
